<?xml version="1.0" encoding="UTF-8"?><root>
    <Displays>
        <Left_MFD>
            <active>true</active>
            <x_tex>0.625</x_tex>
            <y_tex>0.625</y_tex>
            <w_tex>0.375</w_tex>
            <h_tex>0.375</h_tex>
            <x_scr>2261</x_scr>
            <y_scr>50</y_scr>
            <w_scr>680</w_scr>
            <h_scr>680</h_scr>
            <alwaysOnTop>true</alwaysOnTop>
            <border>false</border>
        </Left_MFD>
        <Right_MFD>
            <active>true</active>
            <x_tex>0.625</x_tex>
            <y_tex>0.24166666666666667</y_tex>
            <w_tex>0.375</w_tex>
            <h_tex>0.375</h_tex>
            <x_scr>3975</x_scr>
            <y_scr>50</y_scr>
            <w_scr>680</w_scr>
            <h_scr>680</h_scr>
            <alwaysOnTop>true</alwaysOnTop>
            <border>false</border>
        </Right_MFD>
        <RWR>
            <active>false</active>
            <x_tex>0.8033333333333333</x_tex>
            <y_tex>0.0</y_tex>
            <w_tex>0.19666666666666666</w_tex>
            <h_tex>0.19666666666666666</h_tex>
            <x_scr>1200</x_scr>
            <y_scr>600</y_scr>
            <w_scr>200</w_scr>
            <h_scr>200</h_scr>
            <alwaysOnTop>true</alwaysOnTop>
            <border>true</border>
        </RWR>
        <HUD>
            <active>false</active>
            <x_tex>0.0</x_tex>
            <y_tex>0.0</y_tex>
            <w_tex>0.4666666666666667</w_tex>
            <h_tex>0.4666666666666667</h_tex>
            <x_scr>700</x_scr>
            <y_scr>600</y_scr>
            <w_scr>400</w_scr>
            <h_scr>400</h_scr>
            <alwaysOnTop>true</alwaysOnTop>
            <border>true</border>
        </HUD>
        <DED>
            <active>false</active>
            <x_tex>0.4683333333333333</x_tex>
            <y_tex>0.11833333333333333</y_tex>
            <w_tex>0.3333333333333333</w_tex>
            <h_tex>0.11666666666666667</h_tex>
            <x_scr>1500</x_scr>
            <y_scr>600</y_scr>
            <w_scr>200</w_scr>
            <h_scr>70</h_scr>
            <alwaysOnTop>true</alwaysOnTop>
            <border>true</border>
        </DED>
    </Displays>
    <SHM>GiGurraTexturesSharedMemoryArea</SHM>
    <SHM_tex_w>1200</SHM_tex_w>
    <SHM_tex_h>1200</SHM_tex_h>
</root>
